<mat-toolbar class="main">
  <div class="spacer">
    <img src="assets/logo.png" width="60" height="50" class="logo" alt="" />

    <button mat-button [matMenuTriggerFor]="fileMenu">File</button>
    <mat-menu #fileMenu="matMenu">
      <button mat-menu-item (click)="newFile()">
        <mat-icon>note_add</mat-icon>
        New
      </button>

      <hr />

      <button mat-menu-item (click)="uploadFile()">
        <mat-icon>upload_file</mat-icon>
        Open
      </button>

      <hr />

      <button
        mat-menu-item
        (click)="downloadPng()"
        [disabled]="!canvas.hasImage"
      >
        <mat-icon>download</mat-icon>
        Download image
      </button>
      <button mat-menu-item (click)="copyImage()" [disabled]="!canvas.hasImage">
        <mat-icon>content_copy</mat-icon>
        Copy image
      </button>
      <button mat-menu-item (click)="copyUrl()" [disabled]="!canvas.hasImage">
        <mat-icon>link</mat-icon>
        Copy link to image
      </button>
    </mat-menu>

    <div class="divider" *ngIf="canvas.hasImage"></div>
  </div>

  <nav mat-tab-nav-bar *ngIf="canvas.hasImage" class="hide-mobile">
    <a mat-tab-link (click)="mode = Mode.DRAW" [active]="mode === Mode.DRAW">
      <mat-icon>edit</mat-icon> Draw
    </a>
    <a
      mat-tab-link
      (click)="mode = Mode.ASSEMBLE"
      [active]="mode === Mode.ASSEMBLE"
    >
      <mat-icon>grid_on</mat-icon> Assemble
    </a>
  </nav>

  <div class="spacer-right">
    <a
      mat-button
      href="https://github.com/google/pixelate"
      target="_blank"
      matTooltip="Learn about Pixelate"
    >
      <mat-icon>help_outline</mat-icon>
    </a>
  </div>
</mat-toolbar>

<app-canvas-editor
  #canvas
  [hidden]="mode !== Mode.DRAW || !canvas.hasImage"
></app-canvas-editor>

<div class="empty-page" *ngIf="!canvas.hasImage">
  <button mat-flat-button>
    <img
      #exampleImage
      src="assets/logo.png"
      alt="Edit the pixelated tree frog."
      width="240"
      height="200"
      matTooltip="Click to edit the pixelated tree frog as example."
      matTooltipPosition="above"
      (click)="canvas.loadImage(exampleImage)"
    />
  </button>

  <h2>Open, paste, or drop a small pixel art image.</h2>
</div>

<app-instructions
  *ngIf="mode === Mode.ASSEMBLE && (canvas.pixels | async) as pixels"
  [pixels]="pixels"
  [crossedOutColors]="crossedOutColors"
  [crossedOutRows]="crossedOutRows"
  [crossedOutColumns]="crossedOutColumns"
  (toggleBackgroundColor)="toggleCrossedColor($event)"
  (toggleColumn)="toggleCrossedColumn($event)"
  (toggleRow)="toggleCrossedRow($event)"
></app-instructions>
