<mat-toolbar class="vertical">
  <div class="scroll-container-vertical">
    <table>
      <thead>
        <tr>
          <th>Color</th>
          <th>Count</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let row of colors"
          (click)="toggleBackgroundColor.next(row.color)"
          class="toggle-strikethrough"
          [class.strikethrough]="background[row.color]"
        >
          <td [style]="{ backgroundColor: row.color }" class="text-center">
            {{ background[row.color] ? "" : row.index }}
          </td>
          <td class="text-right">{{ row.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="details text-center">
    <div>{{ totalCount }} notes</div>
    <div>
      {{ totalWidth | number: "1.0-0" }} x
      {{ totalHeight | number: "1.0-0" }} cm
    </div>
    <dd>{{ lowerTime }} - {{ upperTime }} min</dd>
  </div>
</mat-toolbar>

<div class="scroll-container">
  <table class="grid">
    <tr>
      <td></td>
      <td
        *ngFor="let c of pixels[0]; let index = index"
        class="toggle"
        (click)="completedCols.set(index, !(completedCols.get(index) ?? false))"
      >
        {{ index + 1 }}
      </td>
      <td></td>
    </tr>
    <tr *ngFor="let row of pixels; let rowI = index">
      <td
        class="toggle"
        (click)="completedRows.set(rowI, !(completedRows.get(rowI) ?? false))"
      >
        {{ rowI + 1 }}
      </td>
      <td
        *ngFor="let col of row; let colI = index"
        [style]="{ backgroundColor: col }"
        [class.completed]="completedRows.get(rowI) || completedCols.get(colI)"
      >
        {{ background[col] ? "" : indices.get(col) }}
      </td>
      <td
        class="toggle"
        (click)="completedRows.set(rowI, !(completedRows.get(rowI) ?? false))"
      >
        {{ rowI + 1 }}
      </td>
    </tr>
    <tr>
      <td></td>
      <td
        *ngFor="let c of pixels[0]; let index = index"
        class="toggle"
        (click)="completedCols.set(index, !(completedCols.get(index) ?? false))"
      >
        {{ index + 1 }}
      </td>
      <td></td>
    </tr>
  </table>
</div>
