<mat-toolbar class="vertical">
  <div class="spacer"></div>

  Size
  <mat-slider
    [min]="8"
    [max]="maxTargetScale"
    [step]="1"
    thumbLabel
    vertical
    [(ngModel)]="targetScale"
    (input)="resizeTo($event.value!)"
  ></mat-slider>

  Colors
  <mat-slider
    [min]="2"
    [max]="maxTargetColors"
    [step]="1"
    thumbLabel
    vertical
    [(ngModel)]="targetColors"
    (input)="targetColors = $event.value!; ngOnChanges()"
  ></mat-slider>

  <div class="spacer"></div>

  <div class="details text-center">
    <div>
      {{ croppedWidth }} x
      {{ croppedHeight }}
    </div>
    <div>
      {{ realWidth | number: "1.0-0" }} x {{ realHeight | number: "1.0-0" }} cm
    </div>
  </div>
</mat-toolbar>

<div class="scroll-container" #scrollContainer>
  <div class="canvas-buttons">
    <div
      *ngFor="let entry of Edge | keyvalue"
      class="expand-buttons expand-{{ entry.value }}"
    >
      <button
        mat-button
        (click)="shrink(entry.value)"
        [disabled]="!canShrink(entry.value)"
        [attr.aria-label]="'Shrink from ' + entry.value + ' edge'"
      >
        <mat-icon>expand_less</mat-icon>
      </button>
      <button
        mat-button
        (click)="expand(entry.value)"
        [disabled]="!canExpand(entry.value)"
        [attr.aria-label]="'Expand from ' + entry.value + ' edge'"
      >
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
    <canvas #canvas></canvas>
  </div>
</div>
