<mat-toolbar class="vertical">
  <div class="spacer"></div>

  Size
  <mat-slider
    [min]="8"
    [max]="maxTargetWidth"
    [step]="1"
    thumbLabel
    vertical
    [(ngModel)]="targetWidth"
    (input)="targetWidth = $event.value!"
  ></mat-slider>

  <div class="spacer"></div>

  <div class="details text-center">
    <div>
      {{ targetWidth }} x
      {{ targetHeight }}
    </div>
    <div>
      {{ realWidth | number: "1.0-0" }} x {{ realHeight | number: "1.0-0" }} cm
    </div>
  </div>
</mat-toolbar>

<div class="scroll-container" #scrollContainer>
  <canvas #canvas></canvas>
</div>
